body {
  margin: 0;
  padding: 0;
  background-color: rgb(20, 52, 53);
}
div {
  background-color: rgb(13, 29, 29);
  padding: 20px;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
  margin-top: 150px;
  border-radius: 30px;
}
h1 {
  color: white;
}

input {
  display: block;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 16px;
  padding-left: 10px;
  border-radius: 10px;
}
button {
  width: 60%;
  height: 50px;
  border-radius: 5px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(27, 68, 27);
  color: white;
  border: none;
  outline: none;
  margin-bottom: 15px;
  border-radius: 10px;
}

#error {
  color: red;
}

div span {
  color: white;
  font-size: 15px;
}
div span a {
  text-decoration: underline;
  cursor: pointer;
  color: blue;
}
